mixin result()
    +b('section').result
        +e.wrap__main
            +e.answer
                img( class= 'result__border' src='./images/result-border.svg')
                img( class= 'result__border-mobail' src='./images/result-border-mobail.svg')
                +e.answer-title 
                +e.answer-text 
                +e.answer-sharing 
                    +e('a').answer-sharing-button(href='#') Рассказать друзьям
                    +e('a').answer-sharing-button-link(href='#')
                        +e.answer-sharing-button-vk
                    +e('a').answer-sharing-button-link(href='#')
                        +e.answer-sharing-button-od
                    +e('a').answer-sharing-button-link(href='#')
                        +e.answer-sharing-button-tg
            +e.wrap__result-img
        +e.wrap__film
            +e.answer-film
            +e('a').answer-button(href='#') Купить билет
        +e.footer
                +e.content-icons
                    img(src='./images/twelve.svg')
                    img(src='./images/layer.svg')
                +e.advertisement Реклама. Токен