.promo
    position relative
    background url(/images/promo.jpg) 0 0/100% 100% no-repeat
    height 100vh
    +below(720px)
        background #000

    +below(400px)
        overflow hidden

    &__wrap
        padding w(10) 0 0 w(50)
        +below(1920px)
            padding w(93) 0 0 w(50)
        +below(920px)
            padding wm(20) 0 0 wm(15)
        +below(720px)
            padding wm(40) 0 0 0

    &__small-title
        color $c-beige
        text-transform uppercase
        text-align center
        text-shadow 2px 2px 6px #000
        font-family $ff-Romul
        font-size w(28)
        line-height w(68)
        letter-spacing w(2.8)
        +below(720px)
            font-size wm(12)

    &__title
        display flex
        align-items center
        position relative
        color $c-beige
        font-family $ff-Romul
        text-align center
        font-size w(70)
        text-shadow 4px 4px 7px #000
        line-height w(90)
        padding w(5) 0 w(5) 0
        img
            position absolute
            width w(170)
        +below(1920px)
            font-size w(82)
            padding w(20) 0 w(20) 0
        +below(720px)
            font-size wm(29)
            line-height wm(32)
            padding wm(5) 0 0 0


    &__rounding-1
        left 0
        +below(720px)
            display none

    &__rounding-1-mobile
        display none
        +below(720px)
            display block
            left 0

    &__rounding-2
        right 0
        +below(720px)
            display none

    &__rounding-2-mobile
        display none
        +below(720px)
            display block
            right 0


    &__container
        width w(780)
        +below(1920px)
            width w(880)
        +below(720px)
            width 100%

    &__container-text
        color $c-white
        text-align center
        font-family $ff-FuturaPT
        font-size w(21)
        line-height w(24)
        padding 0 w(90)
        position relative
        z-index 3
        +below(1920px)
            padding 0 w(140)
        +below(920px)
            font-size wm(6)
            padding 0 wm(10)
            line-height wm(6)
        +below(720px)
            font-size wm(10)
            line-height wm(12)
            padding 0 wm(20)

    &__text
        padding-top w(10)
        +below(1920px)
            padding-top w(15)
        +below(720px)
            padding-top wm(10)

    &__img
        position absolute
        width w(800)
        right 0
        bottom 0
        +below(1920px)
            width w(1250)
        +below(1800px)
            width w(1200)
        +below(920px)
            width wm(200)
        +below(720px)
            width 100%
            right 0
            left 0
            &:before
                content ""
                position absolute
                top 0
                left 0
                width 100%
                height 35%
                background linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent)
                pointer-events none

        +below(400px)
            width wm(320)
            height wm(200)
            bottom wm(150)

    &__fon
        width 100%
        +below(720px)
            display none

    &__mobile
        display none
        +below(720px)
            display block
            width 100%

    &__buttons
        display flex
        flex-direction column
        align-items center
        position relative
        z-index 3

    &__button
        text-align center
        font-family $ff-Romul
        color $c-beige-button
        background-color transparent
        border w(1) solid $c-beige
        border-radius w(50)
        width w(350)
        font-size w(21)
        padding w(20) 0 w(15) 0
        text-shadow w(4) w(4) w(2) rgba(0, 0, 0, 0.25)
        margin-top w(20)
        +below(1920px)
            margin-top w(35)
        +below(720px)
            padding wm(7) 0 wm(7) 0
            width wm(150)
            font-size wm(9)
            border-radius wm(50)
            border wm(1) solid $c-beige
            margin-top wm(14)


    &__darkening
        position absolute
        bottom 0
        left 0
        width 100%
        height w(500)
        background linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
        +below(720px)
            height wm(200)

    &__number
        position absolute
        top w(280)
        right w(67)
        +below(1920px)
            width w(800)
        +below(720px)
            width wm(310)
            top wm(105)

    &__footer
        position absolute
        display flex
        align-items center
        justify-content space-between
        width 100%
        padding 0 w(50)
        bottom w(20)
        img
            margin-right w(20)
        +below(1920px)
            bottom w(50)
        +below(1800px)
            bottom w(20)
        +below(720px)
            padding 0 wm(20) wm(10) wm(20)
            img
                width wm(20)
                margin-right wm(10)

    &__advertisement
        color $c-beige
        font-size w(16)
        font-family $ff-FuturaPT
        +below(720px)
            font-size wm(10)



